[Unit]
Description=Sing-Box Config Bot
After=network.target

[Service]
Type=simple
ExecStart=/root/sing-box-config-bot/bin/sing-box-config-bot
User=root
Restart=always
RestartSec=30
WorkingDirectory=/root/sing-box-config-bot

[Install]
WantedBy=multi-user.target